.price_trend{
    background-color:#E0F0E4;
    text-align: center;
    padding: 8px 12px;
    border-radius: 8px;
    width: 121px;
    height: 56px;
}
.price_trend{
    p{
        color: #377E36;
        font-size: 17px;
        font-weight: 500;
        line-height: 35px;
    }
}
.cardItem{
    display: flex;
    align-items: center;
}
.table_sub_heading{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #6E6E6E;
}

