@import '../../../assets/styles/variable.scss';
.section_wrp {
  padding: 20px 0 ;
  .project_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
  .See_more {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
    font-family: $font-family;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    color: $Primary-Blue;
    margin-top: 32px;
  }
}
