@import '../../../../assets/styles/variable.scss';

.projectCard {
  // width: 408px;
  border-radius: 8px;
  box-shadow: 0px 4px 20px 0px #b5b5b540;
  transition: transform 0.3s ease;
  margin-bottom: 20px;

  &:hover {
    transform: translateY(-10px);
  }
}

.card {
  width: 100%;
  border-radius: 8px;
}

.cardImgContainer {
  overflow: hidden;
}

.cardImg {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.cardBody {
  // width: 408px;
  height: auto;
  gap: 8px;
  border-radius: 0px 8px;
  padding: 12px 16px;
  border: 1px solid #ebebeb;
}

.cardTags p {
  margin-bottom: 0;
}
.subheading {
  color: #6e6e6e;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}
.heading {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #1a1a1a;
  text-transform: capitalize;
}
.cardText {
  font-size: 18px;
  font-weight: 500;
  color: #1a1a1a;
  line-height: 27px;
  margin: 1rem 0;
}

.cardRating {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cardRating p {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}

// ---------------- updated Css ----------
.card_rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// ------------------ Responsive Css -------------------- //
@media only screen and (max-width: 768px) {
  .cardImg {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

@media only screen and (max-width: 576px) {
  .cardImg {
    width: auto;
  }
}
