$font-family:"poppins", sans-serif;
$font-family-Helvetica: "Helvetica";
$Black: #111111;
$White: #FFFFFF;
$Main-Text: #1A1A1A;
$Subtext: #6E6E6E;
$color1: #383838;
$Primary-Blue: #126BFB;
$Stroke-Color: #EBEBEB;
$Grey-1: #BABABA;
$Red-1: #AA0000;
$Tab-Text:#5B5B5B;
